.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.new-book-form {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ebebeb;
}

.new-book-form label {
  font-weight: bold;
}

.new-book-form button {
  background: #222;
  color: white;
}
